import React from "react"
import style from "./{{ViewName}}.module.css"

const View{{ViewName}} = () => (

	<div className="View{{ViewName}}">

		<PageHeader>{{ViewName}}</PageHeader>

	</div>

)

export default View{{ViewName}}
